{% extends 'web/base.html' %}
{% load static i18n %}

{% block content %}
    <table class="table table-sm table-striped table-hover">

        <thead>
        <tr>
            <td colspan="7">
                <a class="btn btn-outline-primary btn-sm"
                   href="{% url 'add-business-process' %}">{% trans 'Add business process' %}</a>
            </td>
        </tr>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Minimal BPM group' %}</th>
            <th>{% trans 'Created by' %}</th>
            <th>{% trans 'Updated at' %}</th>
            <th>{% trans 'Created at' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for business_process in business_processes %}
            <tr>
                <td>{{ business_process.id }}</td>
                <td>
                    <a href="{% url 'detail-business-process' pk=business_process.id %}">{{ business_process.title }}</a>
                </td>
                <td>{{ business_process.get_status_display }}</td>
                <td>{{ business_process.get_min_bpm_group_display }}</td>
                <td>{{ business_process.created_by }}</td>
                <td>{{ business_process.updated_at_pretty }}</td>
                <td>{{ business_process.created_at_pretty }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}